// присоединрить файл button.scss к нашему основному pre.css файлу через шаблон @import
@import 'button'; 
// $ primary-color: - нужен для хранения основного цвета сайта что бы не писать его каждый раз вручную
$primary-color: #032445;
$color: rgb(217, 104, 232);
// @mixin- это шаблон для повторного использования кода который можно подключать в другие селекторы через директиву @include
//  ( flex это название миксина)это переменные которые используются для упращения  кода мы просто пишем в mixin какие значения нужно указать и дублируем их, например:
@mixin flex($justify, $align) {
display: flex;
justify-content: $justify;
align-items: $align;
}
//  потом просто в строчку пишем @include flex(center(это будет justify), center(это align)); и получаем те же свойства что и в миксине, тем самым сокращая код
.header {
    @include flex(center, center);
    border: 1px solid black;
    padding: 20px;
    margin: 10px;
    background-color: $color;
    // color: rgb(106, 52, 82);
    // justify-content: center;
    align-self: start;
    
    &_logo-box {
            display: flex;
            justify-self: left;
            width: 100px;
            height: 50px;
            background-color: #fa0000;
        }

    &__logo {
        background-color: #fa0000;
        padding: 10px;
        margin: 20px;
        width: 300px;
        height: 20px;
    }

 &_box {
    width: 100px;
    height: 110px;
    background-color: rgb(198, 236, 133);
    transition: transform 3s, ease;
}
 &__list {
    display: flex;
    gap: 30px;
    width: 50px;
    height: 25px;
    background-color: rgb(255, 100, 234);
    // transition: transform 3s, ease;
 }
 &:hover {
    background-color: rgb(0, 6, 110);
    cursor: pointer;
    transform: translateY(-4px);
 }
 &__botton {
    background-color: blue;

    @extend .some_btn
}

.some_btn {
    font-size: 24px;
    line-height: 12x;
    color: rgb(222, 202, 202);
    }
}
// @extend копирует все свойства из другого селектора в текущий, например здесь мы копируем свойства из селектора .some_btn в селектор .header__botton но в коде страницы браузера не будет этого видно